@model Entities.SubPartida

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>SubPartida</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="PartidaID" class="control-label"></label>
                <select asp-for="PartidaID" class="form-control" asp-items="ViewBag.PartidaID"></select>
                <span asp-validation-for="PartidaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PedidoID" class="control-label"></label>
                <select asp-for="PedidoID" class="form-control" asp-items="ViewBag.PedidoID"></select>
                <span asp-validation-for="PedidoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantCueros" class="control-label"></label>
                <input asp-for="CantCueros" class="form-control" />
                <span asp-validation-for="CantCueros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calidad" class="control-label"></label>
                <select asp-for="Calidad" class="form-control"></select>
                <span asp-validation-for="Calidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eficiencia" class="control-label"></label>
                <input asp-for="Eficiencia" class="form-control" />
                <span asp-validation-for="Eficiencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

